{% extends 'cdc/base.html' %}
{% load staticfiles %}
{% block content %}    <br/><br/>
    <div id="login">
        <form action="{% url 'cdc:login' %}" method="post"><br/>
           Company name:
            <br/><input type="text" name="company"/><br/>
           Account:
            <br/><input type="text" name="account"/><br/>
           Password:
           <br/><input type="password" name="pin" /><br/><br/>
        <input type="submit" value="login"/>
        <br/><br/>
            <p style="color:red">{{ error }}</p>
        </form>
    </div>
{% endblock %}
