<form action="/accounts/settings/" method="POST">
    <h3>Change Password</h3>
    <input type="password" name="newpass" />
    <button type="submit">Sumbit</button>
</form>

<form action="/accounts/settings/" method="POST">
    <h3>Delete Account</h3>
    <input type="checkbox" name="deleteaccount" />
    <button type="submit">Sumbit</button>
</form>

<form action="/accounts/settings/" method="POST">
    <h3>Delete Files</h3>
    <input type="checkbox" name="deletefiles" />
    <button type="submit">Sumbit</button>
</form>
